.modal {
    display: none;
    align-items: stretch;
    position: fixed;
    background-color: transparent;
    overflow: hidden auto;
    z-index: 11;
    &.preactive {
        display: flex;
    }
    &.active {
        display: block;
        flex-direction: column;
        opacity: 1;
        background: $color-white;
        transition: all 0.75s cubic-bezier(0.16, 0.76, 0.27, 0.95);
    }
}

.modal__image-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: all 0.75s;
}

.fade-out {
    animation: fade-out 0.4s;
    animation-timing-function: cubic-bezier(0.16, 0.76, 0.27, 0.95);
    opacity: 0;
}

.scale-down {
    animation: scale-down 0.4s;
    animation-timing-function: cubic-bezier(0.16, 0.76, 0.27, 0.95);
}

.modal-nav-close {
    cursor: pointer;
    position: fixed;
    color: $color-white;
    padding: 5px;
    z-index: 2;
    animation: fade-late 1.5s;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background: $color-black;
    animation: fade-late 1.5s;
}

.modal-content {
    background-color: $color-white;
    width: 0;
    transform: translateX(200px);
    transition: all 0.4s;
}

.active .modal-content {
    margin-left: 0;
    transform: translateX(0);
    animation: fade-late 1.5s;
    width: 100%;
}

.modal-items,
.modal-item {
    transition: all 0.2s ease-in-out;
}

.modal-items {
    position: relative;
}

.modal-item {
    position: absolute;
    left: 0;
    right: 0;
}
