.color-blue {
    color: $color-blue;
}

.color-blue--dark {
    color: $color-blue--dark;
}

.color-black--transparent {
    color: $color-black--transparent;
}

.color-white {
    color: $color-white;
}

.color-gray {
    color: $color-gray;
}