@font-face {
    font-family: 'icomoon';
    src: url(./fonts/icons/icomoon.eot?9f3wtj);
    src: url(./fonts/icons/icomoon.eot?9f3wtj#iefix) format('embedded-opentype'),
        url(./fonts/icons/icomoon.ttf?9f3wtj) format('truetype'),
        url(./fonts/icons/icomoon.woff?9f3wtj) format('woff'),
        url(./fonts/icons/icomoon.svg?9f3wtj#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css?family=Laila:300,400,500,600,700');
