@font-face {
    font-family: 'icomoon';
    src: url(./fonts/icons/icomoon.eot?9f3wtj);
    src: url(./fonts/icons/icomoon.eot?9f3wtj#iefix) format('embedded-opentype'),
        url(./fonts/icons/icomoon.ttf?9f3wtj) format('truetype'),
        url(./fonts/icons/icomoon.woff?9f3wtj) format('woff'),
        url(./fonts/icons/icomoon.svg?9f3wtj#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Laila:300,400,500,600,700');
