.img-responsive {
    max-width: 100%;
}

.mar-hor--auto {
    margin-left: auto;
    margin-right: auto;
}

.pad-no {
    padding: 0 !important;
}

.center--vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-center {
    text-align: center;
}

.cur-pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none;
}

.card {
    padding: 0 10px;
    margin: 10px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
}