@import 'fonts.scss';
@import 'icons.scss';
body {
    margin: 0;
    font-size: 14px;
    font-family: 'Laila', serif;
}

p {
    margin: 0;
}

.img-responsive {
    max-width: 100%;
}

.mar-hor--auto {
    margin-left: auto;
    margin-right: auto;
}

.center--vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-center {
    text-align: center;
}

.cur-pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.container {
    max-width: 500px;
    margin: auto;
    position: relative;
}

.container--full-height {
    height: 100vh;
}

.form {
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.form-input {
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #fafafa;
    border: 1px solid #cccccc;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
    transition: color 0.1s ease, border-color 0.1s ease;
    width: 65vw;
    &:focus {
        color: rgba(0, 0, 0, 0.95);
        border-color: #51a7e8;
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset,
            0px 0px 5px rgba(81, 167, 232, 0.5);
    }
}

.form-submit-btn {
    border-radius: 0 0.28571429rem 0.28571429rem 0;
    padding: 1em;
    display: flex;
    align-items: center;
}

.movies-list {
    &.hidden {
        display: none;
    }
    &.shown {
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .movies-list__item {
        width: 45%;
        margin: 1.5%;
        border-radius: 3px;
        background: sandybrown;
        color: black;
        font-weight: 600;
        box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
    }
    .movies-list__image-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 3px;
        background-color: aliceblue;
    }
    .movies-list__information {
        margin: 6px;
    }
}

.movie-item {
    overflow: hidden;
    &.hidden {
        display: none;
    }
    &.shown {
        display: block;
    }
}

.navbar {
    background: #982b5e;
    color: #fff;
}

.movie-short-information {
    padding: 15px 30px;
    .movie-short-information__title {
        font-size: 1.1em;
        font-weight: 600;
    }
    .movie-short-information__general-information {
        color: rgba(255, 255, 255, 0.7);
    }
}

.tab-nav {
    width: 100%;
    height: 60%;
    display: flex;
    position: relative;
    background: #812550;
    &.sticky {
        position: fixed;
        top: 0;
        height: auto;
    }
    .tab-nav__item {
        padding: 15px 0;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-position: center;
        transition: background 0.8s;
        &:hover {
            background: #af3c71
                radial-gradient(circle, transparent 1%, #812550 1%)
                center/15000%;
        }
        &.active {
            font-weight: 600;
        }
        &:active {
            background-color: #812550;
            background-size: 100%;
            transition: background 0s;
        }
    }
    .tab-nav__indicator {
        width: 50%;
        height: 3px;
        position: absolute;
        background: #fff;
        bottom: 0px;
        transition: 0.3s ease;
    }
    .tab-nav__item--left.active ~ .tab-nav__indicator {
        left: 0;
    }
    .tab-nav__item--right.active ~ .tab-nav__indicator {
        left: 50%;
    }
}

.tab-content {
    width: 200%;
    height: 100%;
    &.sticky-header--padding {
        padding-top: 50px;
    }
    .tab-content__carousel {
        width: 100%;
    }
    .tab-content__carousel--left {
        &.shown {
            display: block;
        }
        &.hidden {
            display: none;
        }
    }
    .tab-content__carousel--right {
        display: none;
        &.shown {
            display: block;
        }
        &.hidden {
            display: none;
        }
    }
    .tab-content__panel {
        width: 50%;
    }
}

.movie-images-carousel {
    height: 180px;
    display: flex;
    overflow: auto hidden;
    padding: 20px 12px;
    border-bottom: 2px solid #f1f1f1;
    img {
        height: 180px;
        margin: 0 5px 0 0;
        border-radius: 4px;
    }
}

.view-all-images__wrapper {
    width: 175px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-all-images__icon {
    font-size: 1em;
    color: #1a73e8;
    width: 50px;
    height: 50px;
    border: 1px solid #aecbfa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-images__text {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.54);
    font-style: 0.9em;
}

.movie-cast-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .movie-cast-images__item {
        width: 125px;
        background: aliceblue;
        margin: 4px;
        border-radius: 7px;
        box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
    }
}
