@import 'fonts.scss';
@import 'icons.scss';
@import 'variables.scss';
@import 'helpers.scss';
@import 'color-classes.scss';
@import 'animations.scss';
body {
    margin: 0;
    font-size: 14px;
    font-family: 'Laila', serif;
    @media screen and (min-width: 768px) {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
            to bottom,
            #f1f1f1,
            rgba(30, 144, 255, 0.2)
        );
    }
}

h1,
p {
    margin: 0;
}

.container {
    position: relative;
    margin: auto;
    width: 100vw;
    max-width: 450px;
    @media screen and (min-width: 768px) {
        width: 450px;
        max-width: 100%;
        max-height: 800px;
        box-shadow: 0px 40px 40px -20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: auto;
        background: $color-white;
    }
}

.container--full-height {
    height: 100vh;
}

.search-block {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appName {
    display: inline-block;
    margin: auto;
    line-height: 1em;
    padding: 10px;
    text-shadow: -15px 5px 20px #ced0d3;
    letter-spacing: -0.05em;
}

.loading-indicator {
    display: block;
    height: 4px;
    margin: 10px 0;
}

.loading-indicator--enabled {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    &::before {
        display: block;
        position: absolute;
        content: '';
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: $color-blue;
        animation: loading-indicator 2s linear infinite;
    }
}

@keyframes loading-indicator {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.error {
    width: 70%;
    p {
        padding: 7px;
        color: red;
        background: pink;
        border-radius: 5px;
    }
}

.form {
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    width: 70%;
}

.form-input {
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #fafafa;
    border: 1px solid $color-gray;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
    transition: color 0.1s ease, border-color 0.1s ease;
    width: 100%;
    &:focus {
        color: rgba(0, 0, 0, 0.95);
        border-color: #51a7e8;
        background: $color-white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset,
            0px 0px 5px rgba(81, 167, 232, 0.5);
    }
}

.form-submit-btn {
    border-radius: 0 0.28571429rem 0.28571429rem 0;
    padding: 1em;
    display: flex;
    align-items: center;
}

.movies-list {
    &.hidden {
        display: none;
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.movies-list__item {
    width: 45%;
    margin: 1.5%;
    border-radius: 3px;
    background: sandybrown;
    color: black;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
}

.movies-list__image-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 3px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies-list__image-placeholder-icon {
    font-size: 75px;
    color: antiquewhite;
}

.movies-list__information {
    margin: 4px;
}

.movie-item {
    overflow: hidden;
    &.hidden {
        display: none;
    }
}

.navbar {
    background: #982b5e;
    color: $color-white;
}

.navbar-info-block {
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar-dropdown-menu {
    position: relative;
}

.navbar-dropdown-menu__button {
    padding: 3px 7px;
}

.navbar-dropdown-menu__content {
    position: absolute;
    transform: translateX(-100%) translateX(7px);
    background: $color-white;
    z-index: 1;
}

.navbar-dropdown-menu__item {
    i {
        padding: 10px;
    }
    span {
        display: inline-block;
        font-size: 0.8em;
        min-width: 150px;
        padding: 10px 0;
    }
}

.movie-short-information {
    padding: 15px 10px;
    .movie-short-information__title {
        font-size: 1.1em;
        font-weight: 600;
    }
    .movie-short-information__general-information {
        color: rgba(255, 255, 255, 0.7);
    }
}

.tab-nav {
    width: 100%;
    height: 60%;
    display: flex;
    position: relative;
    background: #812550;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    &.sticky {
        position: fixed;
        top: 0;
        height: auto;
        max-width: 450px;
    }
    .tab-nav__item {
        padding: 15px 0;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        text-transform: uppercase;
        font-size: 0.8em;
        transition: background 0.8s;
        &:hover {
            background: #af3c71
                radial-gradient(circle, transparent 1%, #812550 1%)
                center/15000%;
        }
        &.active {
            font-weight: 600;
        }
        &:active {
            background-color: #812550;
            background-size: 100%;
            transition: background 0s;
        }
    }
    .tab-nav__indicator {
        width: 50%;
        height: 3px;
        position: absolute;
        background: $color-white;
        bottom: 0px;
        transition: 0.3s ease;
    }
    .tab-nav__item--left.active ~ .tab-nav__indicator {
        left: 0;
    }
    .tab-nav__item--right.active ~ .tab-nav__indicator {
        left: 50%;
    }
}

.tab-content {
    // width: 200%;
    height: 100%;
    &.sticky-header--padding {
        padding-top: 50px;
    }
    .tab-content__slider {
        width: 100%;
    }
    .tab-content__slider--left {
        &.shown {
            display: block;
        }
        &.hidden {
            display: none;
        }
    }
    .tab-content__slider--right {
        display: none;
        &.shown {
            display: block;
        }
        &.hidden {
            display: none;
        }
    }
    .tab-content__panel {
        // width: 50%;
    }
}

.images-slider {
    height: 180px;
    display: flex;
    overflow: auto hidden;
    padding: 20px 12px;
    border-bottom: 2px solid #f1f1f1;
    .images-slider__image {
        height: 180px;
        margin: 0 5px 0 0;
        border-radius: 4px;
    }
}

.view-all-images__wrapper {
    width: 175px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-all-images__icon {
    font-size: 1em;
    width: 50px;
    height: 50px;
    border: 1px solid #aecbfa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-images__text {
    margin-top: 10px;
    font-style: 0.9em;
}

.movie-ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 -10px;
    border-bottom: 1px solid #f1f1f1;
}

.movie-ratings-item {
    width: 100%;
    & + & {
        border-left: 1px solid #f1f1f1;
    }
}

.movie-rating__source {
    font-size: 0.9em;
}

.movie-rating__score {
    font-size: 1.1em;
    font-weight: 600;
}

.movie-votes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0 -10px;
    border-bottom: 1px solid #f1f1f1;
}

.movie-votes__vote-icon-wrapper {
    display: flex;
    align-items: center;
}

.movie-votes__source {
    font-size: 0.9em;
}

.movie-votes__vote-icon {
    width: 30px;
    height: 30px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.38);
    border: 1px solid #f1f1f1;
    margin: 0 2px;
}

.movie-more-information__movie-plot {
    padding: 20px 0;
}

.movie-plot__read-more-checkbox:checked ~ .movie-more-information__movie-plot,
.movie-plot__read-more-checkbox:checked ~ .movie-more-information__movie-plot {
    .movie-plot__three-dots,
    .movie-plot__read-more {
        display: none;
    }
    .movie-plot__second-half {
        display: inline;
    }
}

.movie-plot__read-more {
    color: #70757a;
}

.movie-plot__second-half {
    display: none;
}

.movie-more-information__read-more--trigger {
    padding: 16px 10px;
    margin: 10px -10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f1f1f1;
}

.movie-more-information__read-more-text {
    margin-left: 10px;
    line-height: 0;
}

.movie-more-information__read-more-checkbox:checked {
    & ~ .movie-more-information__read-more--trigger {
        i {
            transform: rotateX(180deg);
        }
        & span:first-of-type {
            display: none;
        }
        & span:last-of-type {
            display: inline;
        }
    }
    & ~ .movie-more-information--expandable {
        display: block;
    }
}

.movie-cast-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0;
}

.movie-cast-item {
    width: 125px;
    background: aliceblue;
    margin: 4px;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
    display: flex;
    flex-direction: column;
}

.movie-cast-item__actor-image {
    background: $color-white;
    border-radius: 7px;
}

.movie-cast-item__actor-information {
    padding: 10px;
}

.movie-cast-item__actor-name {
    font-size: 0.9em;
}

.movie-cast-item__actor-role {
    font-size: 0.75em;
}

// Modal
.modal {
    display: none;
    align-items: stretch;
    position: fixed;
    background-color: transparent;
    overflow: hidden auto;
    z-index: 11;
    &.preactive {
        display: flex;
    }
    &.active {
        display: block;
        flex-direction: column;
        opacity: 1;
        background: $color-white;
        transition: all 0.75s cubic-bezier(0.16, 0.76, 0.27, 0.95);
    }
}

.modal__image-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: all 0.75s;
}

.fade-out {
    animation: fade-out 0.4s;
    animation-timing-function: cubic-bezier(0.16, 0.76, 0.27, 0.95);
    opacity: 0;
}

.scale-down {
    animation: scale-down 0.4s;
    animation-timing-function: cubic-bezier(0.16, 0.76, 0.27, 0.95);
}

.modal-nav-close {
    cursor: pointer;
    position: fixed;
    color: $color-white;
    padding: 5px;
    z-index: 2;
    animation: fade-late 1.5s;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background: $color-black;
    animation: fade-late 1.5s;
}

.modal-content {
    background-color: $color-white;
    width: 0;
    transform: translateX(200px);
    transition: all 0.4s;
}

.active .modal-content {
    margin-left: 0;
    transform: translateX(0);
    animation: fade-late 1.5s;
    width: 100%;
}

.modal-items,
.modal-item {
    transition: all 0.2s ease-in-out;
}

.modal-items {
    position: relative;
}

.modal-item {
    position: absolute;
    left: 0;
    right: 0;
}

.actor-movies {
    display: flex;
    flex-flow: row wrap;
}

.actor-movie-item {
    width: 30%;
}

.actor-info {
    padding: 10px;
    background-color: #812550;
}

.actor-info__name {
    font-size: 1.5em;
}
